.footer {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    background: var(--blue-dark);
    color: #fff;
    height: 3em;
    position: sticky;
    bottom: 0;
    gap: 10px;
}

.link-footer {
    color: var(--yellow);
    text-decoration: none;
    font-weight: bolder;
}

.link-footer:hover {
    text-decoration: underline;
}