.search-country {
    outline: none;
    border: 1px solid var(--yellow);
    padding: 7px 15px 7px 7px;
    box-shadow: 0 0 8px #00000044;
    width: 100%;
    position: sticky;
    top: 3.5em;
    z-index: 3;
}

.search-country:focus {
    border: 1px solid var(--yellow-dark);
}

.none {
    display: none;
}